body{
    background-color:#803535;  
    font-family: arial, sans-serif;
    color:#33034e;
    font-size:25px;
}
#header{
    background-color:#ffbb3b;
    padding:0.2cm;
}
#header  :hover{
	-webkit-animation: gradient 5s infinite;
    animation: gradient 5s infinite;
}
@keyframes gradient {
    
}
@-webkit-keyframes gradient {
    
}
