@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
body{
  background-color:grey;
  font-family:Roboto;
  margin:0px; 
  font-weight:400;
  
}
*{
  transition:0.269s;
}
.nav{
  text-align:right;
  color:whitesmoke;
  text-decoration:none;
  font-weight:400;
  margin-right:25px;
  width:700px;
}
#face{
  float:left;
  margin-left:0.5cm;
  width:0.9cm;
  height:0.9cm;
}
#nav{
  border-top:solid #ff9900 2px;
  padding-top:0.5cm;
  padding-bottom:0.5cm;
  width:100%;
  background-color:#222;
  top:0;
  right:0;
  position:fixed;
  text-align:right;
}
.nav:hover{
  color:grey;
}
#canvas{
  margin-top:3cm;
  color:black;
  margin-right:1cm;
  margin-left:1cm;
  background-color:white;
  padding:2.5%;
  box-shadow: 0.1cm 0.1cm 0.1cm #7f7272;
  font-family:Roboto;
}
.list{
  border-right:solid green 2px;
}
.projects{
  color:black;
  padding:0.2cm;
  text-decoration:none;
  
}
.projects:hover{
  color:green;
}
.email{
  color:white;
  text-decoration:none;
  padding:0.3cm;
  border-radius:5% 5%;
  width:1cm;
  height:0.5cm;
  background: #606c88; /* Old browsers */
  background: -moz-linear-gradient(top,  #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #606c88 0%,#3f4c6b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}
.email:hover{
  transition:0.7s;
  text-decoration:underlined;
background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}
