@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
body{
  background-color:grey;
  font-family:Roboto;
  margin:0px; 
  font-weight:400;
  overflow-x: hidden;
}
*{
  transition:0.269s;
}
.nav{
  text-align:right;
  color:whitesmoke;
  text-decoration:none;
  font-weight:400;
  margin-right:25px;
  width:700px;
}
#face{
  float:left;
  margin-left:0.5cm;
  width:0.9cm;
  height:0.9cm;
}
#nav{
  border-top:solid #ff9900 2px;
  padding-top:0.5cm;
  padding-bottom:0.5cm;
  width:100%;
  background-color:#222;
  top:0;
  right:0;
  position:fixed;
  text-align:right;
}
.nav:hover{
  color:grey;
}
.image{
  width:80%;
  height:10cm;
  margin:20px auto 0 auto;
}
#info{
/*  position: absolute;*/
  background-color:#222;
  padding-top:0.5cm;
  padding-bottom:1.5cm;
  color:whitesmoke;
  left: 0;
  width:100%;
  text-align:center;
  overflow-y:hidden;
}
#canvas{
/*  position: absolute http://edublog.amdsb.ca/swbv/files/2014/04/In-Space-1k7uok8.jpgute;*/
  color: black;
  background: grey;
  max-width: 100%;
  margin-left:1cm;
  margin-right:1cm;
/*  background-color: white;*/
  overflow-x:hidden;
}


#slider {
  position: relative;
  overflow: hidden;
  margin-top:2cm;
  width:100%;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200cm;
  list-style: none;
  width: 100%;
  transition: all 0s;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 0;/* will be set in the javascript */
  height: 11cm;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 1cm .5cm;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}
