body{
    background-image: url(/assets/backing2.jpeg);
    background-size:100%,80%;
}

td{
 color:white;
    background-color: #333333;
    font-family: raleway, n6;
    min-height:12px;   
    padding:10px;
}
.header{
    font-family:Helvetica;
    font-size:32px;
    color:#ffa500;
}
table{
    margin-top:15cm;
}
