div{
    background-image: radial-gradient(#010d00, #232a31);
    content: open-quote;
    color: #e5def7;
    font-family: arial;
    font-size:18px;
    overflow-y: scroll;
    width: auto;
    height: 50%;
    padding:14%;
    white-space:normal;
    box-shadow: 4px 2px 13px purple;
}
.blue{
    
    color:blue;
    
}