@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
body{
  background-color:grey;
  font-family:Roboto;
  margin:0;
  font-weight:400;
  
}
*{
  transition:0.269s;
}
#canvas{
  margin-top:3cm;
  color:black;
  margin-right:1cm;
  margin-left:1cm;
  background-color:white;
  padding:2.5%;
  box-shadow: 0.1cm 0.1cm 0.1cm #7f7272;
  font-family: 'Source Code Pro';
}
#list{
  border-right: 2px solid #1fc439;
}
.project {
  padding:0.2cm;
  text-decoration:none;
}

.project a {
  color: #000;
  text-decoration: none;
}
#list:hover{
  border-right: 15px solid #1fc439;
  transition:0.5s;
}
.project:hover {
  color: #1fc439;
}

.project .viewframe {
  width: 100%;
  height: 0;
}
.project .viewframe.open {
  height: 600px;
}
progress{
  background-color:black;
  border-radius:15px 10px;
  appearance:none;
}
