@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
body{
  background-color:grey;
  font-family:Roboto;
  margin:0;
  font-weight:400;
  
}
*{
  transition:0.269s;
}
.nav{
  text-align:right;
  color:whitesmoke;
  text-decoration:none;
  font-weight:400;
  margin-right:25px;
  width:700px;
}
#face{
  float:left;
  margin-left:0.5cm;
  width:0.9cm;
  height:0.9cm;
}
#nav{
  border-top:solid #ff9900 2px;
  padding-top:0.5cm;
  padding-bottom:0.5cm;
  width:100%;
  background-color:#222;
  top:0;
  right:0;
  position:fixed;
  text-align:right;
}
.nav:hover{
  color:grey;
}
#canvas{
  margin-top:3cm;
  color:black;
  margin-right:1cm;
  margin-left:1cm;
  background-color:white;
  padding:2.5%;
  box-shadow: 0.1cm 0.1cm 0.1cm #7f7272;
  font-family: 'Source Code Pro';
}
#list{
  border-right: 2px solid #1fc439;
}
.project {
  padding:0.2cm;
  text-decoration:none;
}

.project a {
  color: #000;
  text-decoration: none;
}
.project a:hover {
  color: #1fc439;
}