@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
body{
  background-color:grey;
  font-family:Roboto;
  margin:0px; 
  font-weight:400;
  
}
*{
  transition:0.269s;
}
#canvas{
  margin-top:3cm;
  color:black;
  margin-right:1cm;
  margin-left:1cm;
  background-color:white;
  padding:2.5%;
  box-shadow: 0.1cm 0.1cm 0.1cm #7f7272;
}
#languages{
  font-family:Source code pro;
  color:black;
}
b{
  border-top:solid 1px black;
  margin-left:0.5cm;
}
